<template>
  <el-breadcrumb class="breadcrumb" separator="/">
    <el-breadcrumb-item :to="{ path: '/dashboard' }">首頁</el-breadcrumb-item>
    <el-breadcrumb-item>組織</el-breadcrumb-item>
    <el-breadcrumb-item>新增</el-breadcrumb-item>
  </el-breadcrumb>

  <h1 class="titleMain">新增組織</h1>

  <el-card class="box-card">
    <div class="subject">組織代碼</div>
    <el-input class="input" placeholder="組織代碼，範例：C210517001"></el-input>

    <div class="subject">組織名稱</div>
    <el-input class="input"></el-input>

    <div class="subject">簡稱</div>
    <el-input class="input"></el-input>

    <div class="item">
      <div class="subject">簡介</div>
      <el-input class="input" type="textarea" :rows="6"></el-input>
    </div>

    <div class="subject">電話</div>
    <el-input class="input"></el-input>

    <div class="subject">地址</div>
    <el-input class="input"></el-input>

    <div class="subject">統一編號</div>
    <el-input class="input"></el-input>

    <el-row class="btn">
      <el-button type="primary" class="btnSave">儲存</el-button>
      <el-button type="info" class="btnSave">重設</el-button>
    </el-row>
  </el-card>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
/deep/ .el-card__body {
  width: 100%;
}

.box-card {
  display: flex;

  .item {
    display: flex;
    align-items: center;
  }

  .subject {
    font-weight: 600;
    display: inline-block;
    width: 8rem;
    padding: 7px 7.5px;
    @media screen and (max-width: 767px) {
      width: 5rem;
    }
  }

  $vw: 100%;
  $subject: 9rem;
  $subjectSmall: 6rem;

  .input {
    display: inline-block;
    width: calc(#{$vw} - #{$subject});
    margin: 0.6rem 0;

    @media screen and (max-width: 767px) {
      width: calc(#{$vw} - #{$subjectSmall});
    }
  }

  .btn {
    justify-content: space-around;
  }
}
</style>
