<template>
  <el-breadcrumb class="breadcrumb" separator="/">
    <el-breadcrumb-item :to="{ path: '/dashboard' }">首頁</el-breadcrumb-item>
    <el-breadcrumb-item>組織</el-breadcrumb-item>
    <el-breadcrumb-item>列表</el-breadcrumb-item>
  </el-breadcrumb>

  <h1 class="titleMain">組織列表</h1>
  <el-card class="box-card cardBottomBorder">
    <div class="btnAdd">
      <el-button type="primary">查詢</el-button>
      <el-button type="primary">新增</el-button>
    </div>
  </el-card>

  <el-table :data="tableData" style="width: 100%" class="table">
    <el-table-column label="ID" width="50"> </el-table-column>
    <el-table-column prop="code" label="組織代碼" class="subtitleClick">
      <template v-slot="scope">
        <el-input
          v-model="scope.row.code"
          :min="1"
          :max="99"
          size="small"
          controls-position="right"
        />
      </template>
    </el-table-column>
    <el-table-column prop="name" label="組織名稱">
      <template v-slot="scope">
        <el-input
          v-model="scope.row.name"
          :min="1"
          :max="99"
          size="small"
          controls-position="right"
        />
      </template>
    </el-table-column>
    <el-table-column prop="title" label="簡稱">
      <template v-slot="scope">
        <el-input
          v-model="scope.row.title"
          :min="1"
          :max="99"
          size="small"
          controls-position="right"
        />
      </template>
    </el-table-column>
    <el-table-column prop="phone" label="電話">
      <template v-slot="scope">
        <el-input
          v-model="scope.row.phone"
          :min="1"
          :max="99"
          size="small"
          controls-position="right"
        />
      </template>
    </el-table-column>
    <el-table-column prop="address" label="地址">
      <template v-slot="scope">
        <el-input
          v-model="scope.row.address"
          :min="1"
          :max="99"
          size="small"
          controls-position="right"
        />
      </template>
    </el-table-column>
    <el-table-column label="操作" width="50"> </el-table-column>
  </el-table>

  <el-card class="box-card"> 沒有資料。 </el-card>

  <!-- <el-table :data="tableData" style="width: 100%" class="table">
    <el-table-column label="ID" width="50"> </el-table-column>
    <el-table-column prop="code" label="組織代碼">
      <template v-slot="scope">
        <el-input
          v-model="scope.row.code"
          :min="1"
          :max="99"
          size="small"
          controls-position="right"
        />
      </template>
    </el-table-column>
    <el-table-column prop="name" label="組織名稱">
      <template v-slot="scope">
        <el-input
          v-model="scope.row.name"
          :min="1"
          :max="99"
          size="small"
          controls-position="right"
        />
      </template>
    </el-table-column>
    <el-table-column prop="title" label="簡稱">
      <template v-slot="scope">
        <el-input
          v-model="scope.row.title"
          :min="1"
          :max="99"
          size="small"
          controls-position="right"
        />
      </template>
    </el-table-column>
    <el-table-column prop="phone" label="電話">
      <template v-slot="scope">
        <el-input
          v-model="scope.row.phone"
          :min="1"
          :max="99"
          size="small"
          controls-position="right"
        />
      </template>
    </el-table-column>
    <el-table-column prop="address" label="地址">
      <template v-slot="scope">
        <el-input
          v-model="scope.row.address"
          :min="1"
          :max="99"
          size="small"
          controls-position="right"
        />
      </template>
    </el-table-column>
    <el-table-column label="操作" width="50"> </el-table-column>
  </el-table> -->
</template>

<script>
export default {
  setup() {
    return {
      tableData: [
        {
          code: "",
          name: "",
          title: "",
          phone: "",
          address: "",
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.cardBottomBorder {
  border-bottom: 2px solid rgb(199, 199, 199);
}
.btnAdd {
  display: flex;
  justify-content: flex-end;
}

.table {
  border-bottom: 1px solid rgb(199, 199, 199);
}

.subtitleClick {
  color: #007bff;
}
</style>
