<template>
  <div class="container">
    <Header @CloseMenu="closeMenuFn" />
    <Main :isColse="isColse" />
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Main from "@/components/Main.vue";
import { ref, watch } from "vue";

export default {
  components: {
    Header,
    Main,
  },

  setup() {
    let isColse = ref(Boolean);
    watch(
      () => isColse.value,
      (newE) => {
        // console.log("newE", newE);
        isColse.value = newE;
        // console.log("isColse", isColse.value);
      }
    );

    const closeMenuFn = (e) => {
      // console.log("e", e);
      isColse.value = e;
    };
    return {
      closeMenuFn,
    };
  },
};
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  height: 100%;
  /* width: 100vw; */
  flex-wrap: wrap;
  overflow: hidden;
  background-color: #f4f6f9;
}
</style>
