<template>
  <div class="login">
    <Login />
  </div>
</template>

<script>
import Login from "@/components/Login.vue";

export default {
  components: {
    Login,
  },
};
</script>

<style lang="scss">
.login {
  margin: auto;
  padding-top: 10vh;
}

@media screen and (max-width: 1044px) {
  padding-top: 3vh;
}
@media screen and (max-width: 730px) {
  padding-top: 2vh;
}
@media screen and (max-width: 640px) {
  padding-top: 1vh;
}
</style>
