<template>首頁</template>

<script>
import { ElMessageBox } from "element-plus";
import { useRouter } from "vue-router";

export default {
  setup() {
    const router = useRouter();
    if (sessionStorage.getItem("token") === null) {
      ElMessageBox.alert("請重新登入", "錯誤", {
        confirmButtonText: "確定",
        showClose: false,
        closeOnPressEscape: false,
        closeOnClickModal: false,
        type: "warning",
      })
        .then(() => {
          sessionStorage.clear();
          router.push({ name: "Home" });
        })
        .catch(() => {});
    }
    return {};
  },
};
</script>

<style></style>
