<script>
import { useRouter } from "vue-router";

export default {
  setup() {
    const router = useRouter();

    const btnRelog = () => {
      sessionStorage.clear();
      router.push({ name: "Home" });
    };

    return {
      btnRelog,
    };
  },
};
</script>
<template>
  <div id="notPage">
    <h1 id="notTitle">404 Page Not Found</h1>
    <div class="btnReload">
      <el-button type="primary" @click="btnRelog">重新登入</el-button>
    </div>
  </div>
</template>

<style>
#notPage {
  width: 100%;
  height: 100px;
}
#notTitle {
  text-align: center;
  font-size: 32px;
  color: red;
  margin-top: 5rem;
}

.btnReload {
  text-align: center;
  margin: 3rem;
}
</style>
