<template>
  <div class="footer">
    <div><span>Copyright © 2019-2021.</span> All rights reserved.</div>
    <div class="version"><span>Version</span> 1.0.0</div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
$vw: 100%;
$sideMenu: 14rem;

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: calc(#{$vw} - #{$sideMenu});
  height: 24px;
  font-size: 16px;
  padding: 16px;
  background-color: #fff;
  color: #869099;
  border-top: 1px solid #dee2e6;
  @media screen and (max-width: 767px) {
    font-size: 10px;
    width: 100vw;
  }

  span {
    font-weight: bolder;
  }

  .version {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}
</style>
