<template>
  <div id="header">
    <transition name="open">
      <div class="header-logo" v-show="isClose">
        <div class="logo"></div>
        <div class="title" @click="goMainIndex()">仲景生醫</div>
      </div>
    </transition>
    <div class="header-menu">
      <div class="left">
        <font-awesome-icon
          icon="align-justify"
          class="icon"
          @click="handToggle()"
        />
        <div class="title">首頁</div>
      </div>
      <div class="right">
        <font-awesome-icon
          icon="sign-out-alt"
          class="icon"
          @click="handLogout"
        />
      </div>
    </div>
    <div class="header-logout"></div>
  </div>
</template>

<script>
import { ref } from "vue";
import { userLogout } from "../server/ApiPath";
import { useRouter } from "vue-router";
export default {
  setup(props, context) {
    const router = useRouter();
    const isClose = ref(true);
    const handLogout = () => {
      userLogout()
        .then((res) => {
          console.log(res);
          sessionStorage.clear();
          router.push({ name: "Home" });
        })
        .catch((error) => {
          console.error(error);
        });
    };

    const handToggle = () => {
      isClose.value = !isClose.value;
      context.emit("CloseMenu", isClose.value);
    };

    const goMainIndex = () => {
      router.push({ name: "MainIndex" });
    };

    return {
      handLogout,
      handToggle,
      isClose,
      goMainIndex,
    };
  },
};
</script>

<style lang="scss" scoped>
#header {
  width: 100%;
  height: 2.5rem;
  padding: 0.5rem;
  background-color: #001f3f;
  display: flex;
  align-items: center;
  flex-basis: 100%;
}

.header-logo {
  display: flex;
  align-items: center;
  width: 14rem;
  padding: 0.5rem;
  overflow: hidden;
  @media screen and (max-width: 767px) {
    .open-enter-active,
    .open-leave-active {
      transition: width 2s ease;
    }

    .open-enter-from {
      width: 0rem;
    }

    .open-enter-to {
      width: 14rem;
    }

    .open-leave-from {
      width: 14rem;
    }
    .open-leave-to {
      width: 0rem;
    }
  }

  .logo {
    background: url("https://picsum.photos/33/33");
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    margin: 0px 0.5rem 0 0.8rem;
    border-radius: 50%;
  }

  .title {
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 200;
    width: 6rem;
    cursor: pointer;
  }
}

.header-menu {
  width: 100vw;
  display: flex;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;
  }

  .title {
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
  }

  .right {
    .icon {
      margin-right: 1.5rem;
      margin-left: 1.5rem;
    }
  }
}

.icon {
  margin-right: 1rem;
  margin-left: 1rem;
  color: #fff;
  cursor: pointer;
}
</style>
