<template>
  <div class="login">
    <div class="logo">仲景生醫</div>
    <el-card shadow="always" class="card">
      <el-input
        class="input"
        placeholder="用戶名稱"
        suffix-icon="el-icon-user-solid"
        v-model="registered.username"
        @keyup.enter="submitBtn"
      >
      </el-input>
      <el-input
        class="input"
        placeholder="密碼"
        suffix-icon="el-icon-lock"
        v-model="registered.password"
        type="password"
        :show-password="false"
        @keyup.enter="submitBtn"
      >
      </el-input>

      <el-row>
        <el-button
          class="btnSubmit"
          :disabled="isLogin"
          type="primary"
          @click="submitBtn"
          >登入</el-button
        >
      </el-row>
    </el-card>
  </div>
</template>

<script>
import { reactive, ref } from "vue";
import { userLogin } from "../server/ApiPath";
import { useRouter } from "vue-router";
import { ElMessageBox } from "element-plus";
export default {
  setup() {
    const router = useRouter();
    const registered = reactive({
      username: "",
      password: "",
    });

    sessionStorage.clear();
    const isLogin = ref(false);
    const submitBtn = () => {
      if (
        registered.username.trim() === "" ||
        registered.password.trim() === ""
      ) {
        open();
      } else {
        isLogin.value = true;
        userLogin(registered)
          .then((response) => {
            if (response.data) {
              sessionStorage.setItem("token", response.data.access_token);
            }
            router.push({ name: "MainIndex" });
          })
          .catch(() => {
            isLogin.value = false;
            registered.username = "";
            registered.password = "";
          });
      }
    };

    const open = () => {
      ElMessageBox.alert("請輸入用戶名稱及密碼", "登入", {
        confirmButtonText: "確定",
        type: "warning",
      });

      clearInput();
    };

    const clearInput = () => {
      registered.username = "";
      registered.password = "";
      isLogin.value = false;
    };

    return {
      registered,
      submitBtn,
      isLogin,
    };
  },
};
</script>

<style lang="scss" scoped>
.login {
  min-height: 290px;

  .logo {
    font-size: 2.1rem;
    font-weight: 320;
    margin-bottom: 0.9rem;
    text-align: center;
  }

  .card {
    width: 320px;
    margin: auto;

    .input {
      margin-top: 20px;
    }

    .btnSubmit {
      margin-top: 20px;
      width: 100%;
    }
  }
}

.el-icon-user-solid:before,
.el-icon-lock:before {
  width: 30px;
  color: #777777;
}
</style>
