<template>
  <transition name="open">
    <div class="main" v-show="open">
      <div class="sidebar">
        <UserInfo />
        <p class="clinic">clinic</p>
        <SideMenu />
      </div>
    </div>
  </transition>
  <div class="centent">
    <div class="page">
      <router-view />
    </div>
    <Footer />
  </div>
</template>

<script>
import UserInfo from "@/components/UserInfo.vue";
import SideMenu from "@/components/SideMenu.vue";
import Footer from "@/components/Footer.vue";
// import { onMounted } from "vue";

import { ref, watch } from "vue";

export default {
  components: {
    UserInfo,
    Footer,
    SideMenu,
  },
  props: {
    isColse: {
      type: Boolean,
      default: true,
    },
  },
  setup(props) {
    let open = ref(props.isColse);

    watch(
      () => props.isColse,
      (open) => {
        console.log("open", open.value);
      }
    );

    // console.log("main", open.value);
    return {
      props,
      open,
      // isClose,
    };
  },
};
</script>

<style lang="scss" scoped>
.open-enter-active,
.open-leave-active {
  transition: width 0.5s ease;
}

.open-enter-from {
  width: 0;
}
.open-enter-to {
  width: 14rem;
}
.open-leave-from {
  width: 14rem;
}
.open-leave-to {
  width: 0;
}
$vh: 100vh;
$vAll: 100%;

$header: 57px;
$footer: 113px;

.sidebar {
  // width: 24%;
  height: 100%;
  box-sizing: border-box;
  transition: width 0.5s ease;
  background-color: #343a40;
  @media screen and (max-width: 767px) {
    // width: 24%;
    // display: none;
  }
}

.centent {
  width: 70%;
  padding: 0px;
  flex: 1;
  height: calc(#{$vAll} - #{$footer});

  background-color: #f4f6f9;
  @media screen and (max-width: 767px) {
    // width: 75%;
  }

  .page {
    padding: 10px 20px 57px;

    box-sizing: border-box;
    background-color: #f4f6f9;
  }
}

.clinic {
  padding: 8px;
  color: #fff;
}
</style>
