<template>
  <div class="menu">
    <el-menu
      default-active="2"
      class="el-menu-vertical-demo"
      background-color="#343a40"
      text-color="#fff"
      active-text-color="#fff"
      @open="handleOpen"
      @close="handleClose"
    >
      <el-submenu index="1">
        <template #title>
          <font-awesome-icon icon="calendar-alt" class="icon" />
          <span class="sort">Customer</span>
        </template>
        <el-menu-item-group>
          <el-menu-item index="1-1" @click="handCustomerList"
            ><font-awesome-icon icon="circle" class="icon" />列表</el-menu-item
          >
          <el-menu-item index="1-2" @click="handCustomerAdd"
            ><font-awesome-icon icon="circle" class="icon" />新增</el-menu-item
          >
        </el-menu-item-group>
      </el-submenu>
    </el-menu>

    <p class="category">進銷存系統</p>

    <!-- 組織 -->
    <el-menu
      default-active="2"
      class="el-menu-vertical-demo"
      background-color="#343a40"
      text-color="#fff"
      active-text-color="#fff"
    >
      <el-submenu index="1">
        <template #title>
          <font-awesome-icon icon="building" class="icon" />
          <span class="sort">組織</span>
        </template>
        <el-menu-item-group>
          <el-menu-item index="1-1" @click="handOrganizationList"
            ><font-awesome-icon icon="circle" class="icon" />列表</el-menu-item
          >
          <el-menu-item index="1-2" @click="handOrganizationAdd"
            ><font-awesome-icon icon="circle" class="icon" />新增</el-menu-item
          >
        </el-menu-item-group>
      </el-submenu>
    </el-menu>

    <!-- 產品 -->
    <el-menu
      default-active="2"
      class="el-menu-vertical-demo"
      background-color="#343a40"
      text-color="#fff"
      active-text-color="#fff"
    >
      <el-submenu index="1">
        <template #title>
          <font-awesome-icon icon="boxes" class="icon" />
          <span class="sort">產品</span>
        </template>
        <el-menu-item-group>
          <el-menu-item index="1-1" @click="handProductList"
            ><font-awesome-icon icon="circle" class="icon" />列表</el-menu-item
          >
          <el-menu-item index="1-2" @click="handProductAdd"
            ><font-awesome-icon icon="circle" class="icon" />新增</el-menu-item
          >
        </el-menu-item-group>
      </el-submenu>
    </el-menu>

    <!-- 倉庫 -->
    <el-menu
      default-active="2"
      class="el-menu-vertical-demo"
      background-color="#343a40"
      text-color="#fff"
      active-text-color="#fff"
    >
      <el-submenu index="1">
        <template #title>
          <font-awesome-icon icon="warehouse" class="icon" />
          <span class="sort">倉庫</span>
        </template>
        <el-menu-item-group>
          <el-menu-item index="1-1" @click="handWarehouseList"
            ><font-awesome-icon icon="circle" class="icon" />列表</el-menu-item
          >
          <el-menu-item index="1-2" @click="handWarehouseAdd"
            ><font-awesome-icon icon="circle" class="icon" />新增</el-menu-item
          >
        </el-menu-item-group>
      </el-submenu>
    </el-menu>

    <!-- 進貨 -->
    <el-menu
      default-active="2"
      class="el-menu-vertical-demo"
      background-color="#343a40"
      text-color="#fff"
      active-text-color="#fff"
    >
      <el-submenu index="1">
        <template #title>
          <font-awesome-icon icon="truck-loading" class="icon" />
          <span class="sort">進貨</span>
        </template>
        <el-menu-item-group>
          <el-menu-item index="1-1" @click="handPurchaseList"
            ><font-awesome-icon icon="circle" class="icon" />列表</el-menu-item
          >
          <el-menu-item index="1-2" @click="handPurchaseAdd"
            ><font-awesome-icon icon="circle" class="icon" />新增</el-menu-item
          >
        </el-menu-item-group>
      </el-submenu>
    </el-menu>

    <!-- 銷售 -->
    <el-menu
      default-active="2"
      class="el-menu-vertical-demo"
      background-color="#343a40"
      text-color="#fff"
      active-text-color="#fff"
    >
      <el-submenu index="1">
        <template #title>
          <font-awesome-icon icon="chart-bar" class="icon" />
          <span class="sort">銷售</span>
        </template>
        <el-menu-item-group>
          <el-menu-item index="1-1" @click="handSalesList"
            ><font-awesome-icon icon="circle" class="icon" />列表</el-menu-item
          >
          <el-menu-item index="1-2" @click="handSalesAdd"
            ><font-awesome-icon icon="circle" class="icon" />新增</el-menu-item
          >
        </el-menu-item-group>
      </el-submenu>
    </el-menu>

    <p class="category">預約系統</p>

    <!-- 預約 -->
    <el-menu
      default-active="2"
      class="el-menu-vertical-demo"
      background-color="#343a40"
      text-color="#fff"
      active-text-color="#fff"
    >
      <el-submenu index="1">
        <template #title>
          <font-awesome-icon icon="calendar-alt" class="icon" />
          <span class="sort">預約</span>
        </template>
        <el-menu-item-group>
          <el-menu-item index="1-1" @click="handReservationList"
            ><font-awesome-icon icon="circle" class="icon" />列表</el-menu-item
          >
          <el-menu-item index="1-2" @click="handReservationAdd"
            ><font-awesome-icon icon="circle" class="icon" />新增</el-menu-item
          >
        </el-menu-item-group>
      </el-submenu>
    </el-menu>

    <p class="category">人事管理系統</p>

    <!-- 排班 -->
    <el-menu
      default-active="2"
      class="el-menu-vertical-demo"
      background-color="#343a40"
      text-color="#fff"
      active-text-color="#fff"
    >
      <el-submenu index="1">
        <template #title>
          <font-awesome-icon icon="calendar-alt" class="icon" />
          <span class="sort">排班</span>
        </template>
        <el-menu-item-group>
          <el-menu-item index="1-2" @click="handRosterList"
            ><font-awesome-icon icon="circle" class="icon" />列表</el-menu-item
          >
          <el-menu-item index="1-2" @click="handRosterAdd"
            ><font-awesome-icon icon="circle" class="icon" />新增</el-menu-item
          >
        </el-menu-item-group>
      </el-submenu>
    </el-menu>

    <!-- User Management -->
    <el-menu
      default-active="2"
      class="el-menu-vertical-demo"
      background-color="#343a40"
      text-color="#fff"
      active-text-color="#fff"
    >
      <el-submenu index="1">
        <template #title>
          <font-awesome-icon icon="users" class="icon" />
          <span class="sort">User Management</span>
        </template>
        <el-menu-item-group>
          <el-menu-item index="1-1" @click="handManagementList"
            ><font-awesome-icon icon="circle" class="icon" />列表</el-menu-item
          >
          <el-menu-item index="1-2" @click="handManagementAdd"
            ><font-awesome-icon icon="circle" class="icon" />新增</el-menu-item
          >
          <!-- <router-link to="/dashboard/management-add"
            ><font-awesome-icon icon="circle" class="icon" />新增</router-link
          > -->
        </el-menu-item-group>
      </el-submenu>
    </el-menu>
  </div>
</template>

<script>
import { useRouter } from "vue-router";
export default {
  setup() {
    const router = useRouter();

    // Customer
    const handCustomerList = () => {
      router.push({ name: "CustomerList" });
    };
    const handCustomerAdd = () => {
      router.push({ name: "CustomerAdd" });
    };

    // 進銷存系統-組織
    const handOrganizationList = () => {
      router.push({ name: "OrganizationList" });
    };
    const handOrganizationAdd = () => {
      router.push({ name: "OrganizationAdd" });
    };

    // 進銷存系統-產品
    const handProductList = () => {
      router.push({ name: "ProductList" });
    };
    const handProductAdd = () => {
      router.push({ name: "ProductAdd" });
    };

    // 進銷存系統-倉庫
    const handWarehouseList = () => {
      router.push({ name: "WarehouseList" });
    };
    const handWarehouseAdd = () => {
      router.push({ name: "WarehouseAdd" });
    };

    // 進銷存系統-進貨
    const handPurchaseList = () => {
      router.push({ name: "PurchaseList" });
    };
    const handPurchaseAdd = () => {
      router.push({ name: "PurchaseAdd" });
    };

    // 進銷存系統-銷售
    const handSalesList = () => {
      router.push({ name: "SalesList" });
    };
    const handSalesAdd = () => {
      router.push({ name: "SalesAdd" });
    };

    // 預約系統-預約
    const handReservationList = () => {
      router.push({ name: "ReservationList" });
    };
    const handReservationAdd = () => {
      router.push({ name: "ReservationAdd" });
    };

    // 人事管理系統-排班
    const handRosterList = () => {
      router.push({ name: "RosterList" });
    };
    const handRosterAdd = () => {
      router.push({ name: "RosterAdd" });
    };

    // 人事管理系統-User Management
    const handManagementList = () => {
      router.push({ name: "ManagementList" });
    };
    const handManagementAdd = () => {
      router.push({ name: "ManagementAdd" });
    };

    //menu close & open
    const handleOpen = (key, keyPath) => {
      console.log(key, keyPath);
    };
    const handleClose = (key, keyPath) => {
      console.log(key, keyPath);
    };

    return {
      handCustomerList,
      handCustomerAdd,
      handOrganizationList,
      handOrganizationAdd,
      handProductList,
      handProductAdd,
      handWarehouseList,
      handWarehouseAdd,
      handPurchaseList,
      handPurchaseAdd,
      handSalesList,
      handSalesAdd,
      handReservationList,
      handReservationAdd,
      handRosterList,
      handRosterAdd,
      handManagementList,
      handManagementAdd,

      handleOpen,
      handleClose,
    };
  },
};
</script>

<style lang="scss" scoped>
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 13rem;
}

.el-menu-vertical-demo[data-v-79f86886]:not(.el-menu--collapse) {
  width: 13rem;
  border: none;
}

/deep/.el-menu {
  border: none;
}

/deep/.el-submenu__icon-arrow {
  padding-top: 0.4rem;
}

/deep/ .el-submenu__title {
  height: 40px;
  line-height: 2.5rem;
}

/deep/ .el-menu-item {
  height: 40px;
  line-height: 2rem;
}

/deep/ .el-menu-item-group__title {
  padding: 0px;
}

.menu {
  height: 100%;
}

.icon {
  margin-right: 1rem;
  width: 1rem;
  color: #6c757d;
  font-size: 1rem;
}

.sort {
  color: #6c757d;
}

.category {
  padding: 27px 1rem 8px;
  color: #fff;
}
</style>
