<template>
  <div class="user">
    <div class="img"></div>
    <div class="name">Admin</div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.user {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  padding: 16px 8px;
  border-bottom: 1px solid #4f5962;
  background-color: #343a40;
  .img {
    background: url("https://picsum.photos/33/33");
    height: 33px;
    width: 33px;
    min-height: 33px;
    min-width: 33px;
    margin: 0px 8px 0 13px;
    border-radius: 50%;
  }

  .name {
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
  }
}
</style>
