<template>
  <el-breadcrumb class="breadcrumb" separator="/">
    <el-breadcrumb-item :to="{ path: '/dashboard' }">首頁</el-breadcrumb-item>
    <el-breadcrumb-item>Customer</el-breadcrumb-item>
    <el-breadcrumb-item>新增</el-breadcrumb-item>
  </el-breadcrumb>

  <h1 class="titleMain">Create Customer</h1>

  <h2 class="subject">Name</h2>
  <el-input class="input" v-model="registered.name"></el-input>

  <h2 class="subject">Identity</h2>
  <el-input class="input" v-model="registered.identity"></el-input>

  <h2 class="subject">Birthday</h2>
  <el-input class="input" v-model="registered.birthday"></el-input>

  <h2 class="subject">Gender</h2>
  <el-input class="input" v-model="registered.gender"></el-input>

  <h2 class="subject">Mobile</h2>
  <el-input class="input" v-model="registered.mobile"></el-input>

  <h2 class="subject">Phone</h2>
  <el-input class="input" v-model="registered.phone"></el-input>

  <h2 class="subject">Diliver</h2>
  <el-input class="input" v-model="registered.diliver"></el-input>

  <h2 class="subject">Email</h2>
  <el-input class="input" v-model="registered.email"></el-input>

  <h2 class="subject">Address</h2>
  <el-input class="input" v-model="registered.address"></el-input>

  <h2 class="subject">Introducer</h2>
  <el-input class="input" v-model="registered.introducer"></el-input>

  <h2 class="subject">Remark</h2>
  <el-input
    class="input"
    type="textarea"
    :rows="6"
    v-model="registered.remark"
  ></el-input>

  <h2 class="subject">Created At</h2>
  <el-input class="input" v-model="registered.createdAt"></el-input>

  <h2 class="subject">Updated At</h2>
  <el-input class="input" v-model="registered.updatedAt"></el-input>

  <h2 class="subject">Created By</h2>
  <el-input class="input" v-model="registered.createdBy"></el-input>

  <h2 class="subject">Updated By</h2>
  <el-input class="input" v-model="registered.updatedBy"></el-input>

  <el-row>
    <el-button type="success" class="btnSave">Save</el-button>
  </el-row>
</template>

<script>
import { reactive } from "vue";
export default {
  setup() {
    const registered = reactive({
      name: "",
      identity: "",
      birthday: "",
      gender: "",
      mobile: "",
      phone: "",
      diliver: "",
      email: "",
      address: "",
      introducer: "",
      remark: "",
      createdAt: "",
      updatedAt: "",
      createdBy: "",
      updatedBy: "",
    });
    return {
      registered,
    };
  },
};
</script>

<style ang="scss" scoped>
.subject {
  font-weight: 700;
  font-size: 16px;
  margin: 0.6rem 0;
}

.btnSave {
  margin: 0.6rem 0;
}
</style>
