<template>
  <router-view></router-view>
</template>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Hind Vadodara", -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, sans-serif;
}
#app {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.breadcrumb {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.titleMain {
  font-weight: 300;
  font-size: 28px;
  margin-bottom: 1.3rem;
}

.fiels-input {
  width: 100%;
  height: 2rem;
  border: 1px solid #dcdfe6;
  border-radius: 5px;
  padding-left: 0.6rem;
}

.SearchBar {
  display: flex;

  .column {
    width: 50%;
  }
}
</style>
