<template>
  <Dashboard>
    <Main>
      <router-view />
    </Main>
  </Dashboard>
</template>

<script>
import Dashboard from "@/../../src/views/Dashboard";
import Main from "@/../../src/components/Main";

export default {
  components: {
    Dashboard,
    Main,
  },
};
</script>

<style></style>
