<template>
  <el-breadcrumb class="breadcrumb" separator="/">
    <el-breadcrumb-item :to="{ path: '/dashboard' }">首頁</el-breadcrumb-item>
    <el-breadcrumb-item>ManagementList</el-breadcrumb-item>
    <el-breadcrumb-item>列表</el-breadcrumb-item>
  </el-breadcrumb>
  <h1 class="titleMain">用戶列表</h1>
  <div class="card-header">
    <el-button type="primary" @click="addUsesr">新增用戶</el-button>
  </div>

  <el-table :data="userListData" style="width: 100%">
    <el-table-column sortable prop="name" label="姓名" width="140">
    </el-table-column>
    <el-table-column sortable prop="email" label="Email"> </el-table-column>
    <el-table-column prop="title" label="角色" width="140"> </el-table-column>
    <el-table-column sortable prop="organization" label="組織">
    </el-table-column>
    <el-table-column sortable prop="status" label="狀態" width="100">
      <template v-slot="scope">
        <p>{{ trnasStatus(scope.row.status) }}</p>
      </template>
    </el-table-column>
    <el-table-column label="操作" width="100">
      <template #default="scope">
        <el-button
          @click="btnEdit(scope.row)"
          class="btnControl"
          type="text"
          size="small"
        >
          <font-awesome-icon icon="edit" class="icon" />
        </el-button>
        <!-- <el-button @click="btnDelete(scope.row)" type="text" size="small">
          <font-awesome-icon icon="trash-alt" class="icon delete"
        /></el-button> -->
      </template>
    </el-table-column>
  </el-table>
</template>

<script>
import { reactive } from "vue";
import { userList } from "../../server/ApiPath.js";
import { deleteUser } from "../../server/ApiPath.js";
import { ElMessageBox } from "element-plus";
import { useRouter } from "vue-router";

export default {
  setup() {
    let userListData = reactive([]);
    const router = useRouter();
    userList()
      .then((res) => {
        for (let i = 0; i < res.data.length; i++) {
          userListData.push(res.data[i]);
        }
      })
      .catch(() => {});

    const btnEdit = (el) => {
      router.push({ name: "ManagementAdd_id", params: { id: el.id } });
    };

    const btnDelete = (el) => {
      deleteConfirm(el);
    };

    const deleteConfirm = (el) => {
      ElMessageBox.confirm(`確定刪除${el.name}資料?`, "刪除", {
        confirmButtonText: "確定",
        cancelButtonText: "取消",
        showClose: false,
        closeOnPressEscape: false,
        closeOnClickModal: false,
        type: "warning",
      })
        .then(() => {
          deleteUserFn(el.id);
        })
        .catch(() => {});
    };

    const deleteUserFn = (id) => {
      deleteUser(id)
        .then(() => {
          location.reload();
        })
        .catch(() => {});
    };

    const trnasStatus = (status) => {
      if (status === 1) {
        return "啟用";
      } else {
        return "停用";
      }
    };

    const addUsesr = () => {
      router.push({ name: "ManagementAdd" });
    };

    return {
      userListData,
      btnEdit,
      btnDelete,
      trnasStatus,
      addUsesr,
    };
  },
};
</script>

<style style="scss" scoped>
/deep/.el-button--small {
  font-size: 16px;
}

.card-header {
  text-align: end;
  margin: 0.8rem 0;
}

.subject {
  font-weight: 400;
  position: relative;
  display: inline-block;
  width: 5rem;
  padding: 7px 7.5px;
  text-align: end;

  @media screen and (max-width: 767px) {
    width: 5rem;
  }
}

.searchInput {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #dcdfe6;
}

.input-form {
  display: flex;
  margin: 0.3rem 0.2rem;
}

.box-card {
  margin-bottom: 2rem;
}

.card-bottom {
  text-align: center;
  margin-top: 1rem;
}
.icon {
  color: #007bff;
  cursor: pointer;
  margin: 0 0.2rem;
}

.delete {
  color: rgb(255, 41, 41);
  cursor: pointer;
}
</style>
