<template>
  <el-breadcrumb class="breadcrumb" separator="/">
    <el-breadcrumb-item :to="{ path: '/dashboard' }">首頁</el-breadcrumb-item>
    <el-breadcrumb-item>ManagementList</el-breadcrumb-item>
    <el-breadcrumb-item>新增</el-breadcrumb-item>
  </el-breadcrumb>
  <h1 class="titleMain">新增用戶</h1>

  <el-card class="box-card">
    <div class="input-form">
      <div class="subject">用戶名稱</div>
      <Form v-slot="{ errors }" class="input">
        <Field
          class="fiels-input"
          name="username"
          :rules="isUserNameRequired"
          v-model="registered.username"
        />
        <div class="error">{{ errors.username }}</div>
      </Form>
    </div>

    <div class="input-form">
      <div class="subject">密碼</div>
      <Form v-slot="{ errors }" class="input">
        <Field
          class="fiels-input"
          type="password"
          name="password"
          :rules="isUserPasswordRequired"
          v-model="registered.password"
        />
        <div class="error">{{ errors.password }}</div>
      </Form>
    </div>

    <div class="input-form">
      <div class="subject">再次輸入密碼</div>
      <Form v-slot="{ errors }" class="input">
        <Field
          class="fiels-input"
          type="password"
          name="confirm_password"
          :rules="isUserConfirmPasswordRequired"
          v-model="registered.confirm_password"
        />
        <div class="error">{{ errors.confirm_password }}</div>
      </Form>
    </div>

    <div class="input-form">
      <div class="subject">姓名</div>
      <Form v-slot="{ errors }" class="input">
        <Field
          class="fiels-input"
          name="name"
          :rules="isNameRequired"
          v-model="registered.name"
        />
        <div class="error">{{ errors.name }}</div>
      </Form>
    </div>

    <div class="input-form">
      <div class="subject">Email</div>
      <Form v-slot="{ errors }" class="input">
        <Field
          class="fiels-input"
          name="email"
          type="email"
          :rules="isEmainRequired"
          v-model="registered.email"
        />
        <div class="error">{{ errors.email }}</div>
      </Form>
    </div>

    <div class="input-form">
      <div class="subject">組織</div>
      <Form v-slot="{ errors }" class="input">
        <Field
          class="fiels-input"
          name="organization"
          :rules="isOrganizationRequired"
          v-model="registered.organization"
        />
        <div class="error">{{ errors.organization }}</div>
      </Form>
    </div>

    <div class="subject">狀態</div>
    <el-select class="input" v-model="registered.status" placeholder="請選擇">
      <el-option
        v-for="item in status"
        :key="item.state"
        :label="item.republic"
        :value="item.state"
      >
      </el-option>
    </el-select>

    <el-row class="btn">
      <el-button type="primary" class="btnSave" @click="btnSubmit"
        >儲存</el-button
      >
      <el-button type="info" class="btnSave" @click="btnReset">重設</el-button>
    </el-row>
  </el-card>
</template>

<script>
import { reactive } from "vue";
import { Field, Form } from "vee-validate";
import { useRoute } from "vue-router";
import { addUser } from "../../server/ApiPath";

export default {
  components: {
    Field,
    Form,
  },
  setup() {
    const router = useRoute();
    let registered = reactive({});
    registered = reactive({
      username: "",
      password: "",
      confirm_password: "",
      name: "",
      email: "",
      organization: "",
      status: 0,
    });

    const status = reactive([
      {
        republic: "停用",
        state: 0,
      },
      {
        republic: "啟用",
        state: 1,
      },
    ]);

    const isUserNameRequired = (value) => {
      return value && value.trim() ? true : "用戶名稱 不能為空白。";
    };

    const isUserPasswordRequired = (value) => {
      return value && value.trim() ? true : "密碼 不能為空白。";
    };

    const isUserConfirmPasswordRequired = (value) => {
      return value && value.trim() ? true : "再次輸入 不能為空白。";
    };

    const isNameRequired = (value) => {
      return value && value.trim() ? true : "姓名 不能為空白。";
    };

    const isEmainRequired = (value) => {
      return value && value.trim() ? true : "Email 不能為空白。";
    };

    const isOrganizationRequired = (value) => {
      return value && value.trim() ? true : "組織 不能為空白。";
    };

    const btnSubmit = () => {
      addUser(registered)
        .then(() => {
          router.push({ name: "ManagementList" });
        })
        .catch(() => {});
    };

    const btnReset = () => {
      registered.id = "";
      registered.username = "";
      registered.password = "";
      registered.confirm_password = "";
      registered.name = "";
      registered.email = "";
      registered.organization = "";
      registered.status = 0;
    };

    return {
      status,
      registered,
      isUserNameRequired,
      isUserPasswordRequired,
      isUserConfirmPasswordRequired,
      isNameRequired,
      isEmainRequired,
      isOrganizationRequired,
      btnSubmit,
      btnReset,
    };
  },
};
</script>

<style lang="scss" scoped>
/deep/ .el-card__body {
  width: 100%;
}

/deep/ .el-select .el-input.is-focus .el-input__inner {
  border-color: #303133;
}

.box-card {
  display: flex;

  .input-form {
    display: flex;
  }

  .subject {
    font-weight: 600;
    position: relative;
    display: inline-block;
    width: 8rem;
    padding: 7px 7.5px;
    top: 0.5rem;

    @media screen and (max-width: 767px) {
      width: 5rem;
    }
  }

  $vw: 100%;
  $subject: 9rem;
  $subjectSmall: 6rem;

  .input {
    display: inline-block;
    width: calc(#{$vw} - #{$subject});
    margin: 0.6rem 0;
    @media screen and (max-width: 767px) {
      width: calc(#{$vw} - #{$subjectSmall});
    }

    .error {
      color: red;
      font-size: 13px;
      margin-top: 0.2rem;
      height: 1rem;
      padding-left: 5px;
    }
  }

  .btn {
    justify-content: space-around;
  }
}
</style>
